.rec {
	height: 600px;
	width: 200px;
	background-color: black;
	padding-top: 15px;
}

.button {
	padding-top: 20px;
}

#red {
	margin: 0 auto;
	background-color: gray;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	cursor: pointer;
	margin-top: 10px;
}

#yellow {
	margin: 0 auto;
	background-color: gray;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	cursor: pointer;
	margin-top: 10px;
}

#green {
	margin: 0 auto;
	background-color: gray;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	cursor: pointer;
	margin-top: 10px;
}
