
body {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	padding: 40px;
	width: 900px;
	line-height: 25px;
	font-size: 18px;
	color: #d1d1d1;
}

h1{
	color: #ef0012;
	font-weight: lighter;
	font-size: 48px;
}

h3{
	font-weight: lighter;
	font-size: 28px;
	color: black;
}

a{ 
	text-decoration: none;
	color: #d1d1d1;
}

img{
	padding-bottom: 20px;
	padding-top: 15px;
}

ul {
	padding-left: 0px;
}

li{
	display: inline;
	padding-left: 0px;
}

.bodyText{
	color: black;
}
.post{
	border-bottom: solid 1px;
	padding-bottom: 80px;
	border-color: #d1d1d1;
}

.continue{
	float: right;
	padding-top: 45px;
	font-weight: 600;
	color: #ef0012;
}
.dateText{
	font-size: 36px;
	color: #d1d1d1; 
	font-weight: 100;
	padding-top: 60px;
	padding-bottom: 30px;
}

.title{
	font-weight: lighter;
	font-size: 36px;
	padding-bottom: 20px;
	color: black;
}

.dropCap{
	font-size: 100px;
	float: left;
	padding-top: 32px;
	padding-bottom: 20px;
	padding-right: 15px;
	color: #d1d1d1;
}

.copyright{
	color: #d1d1d1; 
}

#bottomNav {
	padding-left: 0px;
	color: #ef0012;
	font-size: 17px;
	text-decoration: none;
	border-bottom: 0px;
}

#bottomNav a{
	color: #ef0012;
	border-right: solid 1px;
	border-color: #d1d1d1;
	padding-right: 5px;
}

#navTop {
	color: #d1d1d1;
	font-size: 25px;
	list-style: none;
	font-weight: 100;
	margin: 0;
	padding: 0;
	display: inline;
}

#navTop a {
	border-bottom: solid 2px;
	margin-right: 10px;
}

#tip a{
	border-right: none;
}
